$font-color: white;
$header-font: #0f0f0f;

$offset-color: #eaeaea;
$font-size--1: 1.8rem;
$header-color: white;
$background-color: #282828;
$background-color-2: #1f1f1f;

$container-width: 80%;

$section-padding: 3rem; 
