/* 


    font-family: 'Montserrat', sans-serif;

    font-family: 'Quicksand', sans-serif;


*/
/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
  color: white; }

html {
  font-size: 62.5%;
  background: #282828; }

body {
  box-sizing: border-box; }

section {
  padding: 3rem 0; }

a {
  text-decoration: none; }

.header__nav--link {
  font-size: 1.4rem;
  font-weight: 600; }

.paragraph {
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center; }

.heading-primary {
  text-align: center;
  font-size: 7rem;
  line-height: 6rem;
  font-family: 'Lobster', cursive; }

.heading-secondary {
  text-align: center;
  font-size: 5rem;
  line-height: 4rem;
  font-family: 'Lobster', cursive; }

.u-container {
  width: 80%;
  margin: 0 auto; }

.u-social-container {
  width: 65%;
  margin: 0 auto; }
  .u-social-container::after {
    content: '';
    display: table;
    clear: both; }

.u-min-width {
  width: max-content; }
  .u-min-width .col-1-of-4 {
    width: 21rem !important; }

.u-no-margin {
  margin: 0 !important; }

.u-margin-small {
  margin-bottom: .5rem; }

.u-margin-medium {
  margin-bottom: 2rem; }

.u-margin-big {
  margin-bottom: 3rem; }

.u-text-centre {
  text-align: center; }

.u-text-left {
  text-align: left; }

.u-offset-background {
  background-color: #1f1f1f; }

.u-color-contact {
  background: linear-gradient(to right, #eaeaea 55%, #1f1f1f 45%);
  clear: both;
  display: table; }

.u-border-top {
  border-top: 2px solid #eaeaea; }

@media screen and (min-width: 1000px) {
  .u-container {
    width: 80%; }
  .u-social-container {
    width: max-content; }
  .u-nav-container {
    width: 80%;
    margin: 0 auto; }
    .u-nav-container::after {
      content: '';
      display: table;
      clear: both; } }

.section-contact {
  display: inline-block;
  float: left;
  background-color: #eaeaea;
  width: 55%;
  padding: 6rem 7rem 6rem 0; }

input::placeholder {
  color: #fff;
  opacity: 1; }

.contact-form__label {
  color: white;
  font-size: 2rem; }

.contact-form__input {
  width: 100%;
  color: #fff;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white; }

#map iframe {
  width: 100%;
  height: 49.9rem;
  border: none; }

.price-list__category:not(:last-child) {
  margin-bottom: 2rem; }

.price-list__category--title {
  font-size: 3.5rem; }

.price-list__service {
  display: table;
  clear: both;
  width: 100%;
  margin-bottom: .5rem; }
  .price-list__service--title {
    font-size: 1.8rem;
    float: left; }
  .price-list__service--price {
    font-size: 2rem;
    display: inline-block;
    float: right; }

.button--primary {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 4rem;
  background-color: white;
  color: #0f0f0f;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  transition: all .2s;
  font-size: 1.7rem;
  margin: 0 auto; }
  .button--primary:hover {
    transform: translateY(-5px); }

.header {
  background-color: white; }
  .header__logo {
    color: #0f0f0f;
    font-family: 'Lobster', cursive;
    font-size: 5rem;
    padding: 1rem 0 .5rem 0;
    text-align: center; }
  .header__toggle {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    right: 15px;
    height: 3.5em; }
  .header__nav {
    display: none; }
    .header__nav--link:link, .header__nav--link:visited {
      padding: 2rem 0;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1rem 4rem;
      color: #0f0f0f;
      transition: all .2s; }
    .header__nav--link:not(:last-child) {
      margin-right: 3rem; }
  .header__social {
    padding: 1rem 0 .7rem 0;
    position: relative;
    border-bottom: 1px solid #282828; }
    .header__social--link > img {
      height: 2rem; }

@media screen and (min-width: 1000px) {
  .header__logo {
    font-size: 7rem; }
  .header__toggle {
    display: none; }
  .header__social {
    padding: 0; }
    .header__social--link > img {
      transition: all .2s;
      margin-top: .3rem; }
      .header__social--link > img:hover {
        transform: translateY(-5px); }
  .header__nav {
    display: block;
    border-bottom: 3px solid #0f0f0f; }
    .header__nav--link:hover {
      transform: translateY(-5px) scale(1.3); }
    .header__nav--link:not(:last-child) {
      margin-right: 3rem; } }

.row {
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid #0f0f0f; }
  .row .col-1-of-4__social {
    float: left;
    width: calc((100% - 3 * 0rem) / 4);
    border: none; }

@media screen and (min-width: 1000px) {
  .row [class^='col-'] {
    float: left;
    width: unset;
    border: none; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem;
      float: left; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 6rem) / 6); }
    .row .col-1-of-6--nav {
      width: calc((100% - 5 * 6rem) / 6); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(((100% - 6rem) / 2)); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); } }

.landing {
  background: linear-gradient(to left, rgba(5, 1, 1, 0.7), rgba(0, 0, 0, 0.7)), url("/static/4k-wallpaper-blur-close-up-1266821.jpg");
  background-size: cover;
  border-bottom: 2px solid #eaeaea; }
  .landing__logo {
    display: block;
    height: 35rem;
    margin: 0 auto 2rem auto; }

.service-list {
  text-align: center; }
  .service-list__card {
    display: inline-block;
    background-color: #eaeaea;
    width: 21rem;
    border-radius: 3px;
    border-top-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: black 0.1rem 0.1rem .5rem;
    transition: all .2s; }
    .service-list__card--title {
      font-size: 2rem;
      padding: 1.5rem 0;
      color: #282828; }
    .service-list__card--image {
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
      height: 30rem;
      width: 21rem;
      background-size: cover;
      background-position: center; }
    .service-list__card:hover {
      transform: translateY(-5px); }

.review-list__testimonial {
  margin-bottom: 2rem; }
  .review-list__testimonial__author {
    display: table;
    clear: both;
    width: 100%; }
    .review-list__testimonial__author--client {
      float: left; }
    .review-list__testimonial__author--location {
      float: right; }

.contact {
  background-color: #eaeaea; }

.section-contact {
  position: relative; }
  .section-contact__map {
    position: absolute;
    width: 50%; }
